# Copyright 2024 NWChemEx-Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#These are configuration files for QtCreator
TAMM.config
TAMM.files
TAMM.includes
TAMM.creator
TAMM.creator.user
*.autosave

#These are configuration files for CLion
.idea/

#These are configuration files for VS code
.vscode/

#This is the documentation build directory

#These are common build directory names
Debug/
Release/
cmake-build-debug/
cmake-build-release/
build/
debug*
build*

#editor backups
*~
